* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 40px 0;
}

header img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main section {
    flex: 1 1 400px; /* Flex-grow, flex-shrink, flex-basis */
    text-align: center;
}

h1 {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    margin-bottom: 24px;
}

h1 span {
    color: #9747FF;
}

p {
    font-size: 24px;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto 40px;
}

a {
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    padding: 16px 32px;
    border-radius: 36px;
    display: inline-block;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #8233E8;
}

main>img {
    flex: 1 1 400px;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Tablet */
@media(max-width: 1024px) {
    h1 {
        font-size: 54px;
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }
}

/* Mobile */
@media(max-width: 768px) {
    header img {
        width: 250px;
    }

    main {
        gap: 40px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    a {
        font-size: 18px;
        padding: 14px 28px;
    }

    main>img {
        content: url("../img/celulares-sobrepostos-online.png");
    }
}
